---
import Layout from "@layouts/Layout.astro";
import Author from "./Author.svelte";
import Headings from "@components/Headings.svelte";
import ShareButton from "@components/ShareButton.svelte";

const { frontmatter, headings, url } = Astro.props;
---

<Layout
	title={frontmatter.title}
	description={frontmatter.description}
	keywords={frontmatter.keywords}
	author={frontmatter.author}
>
	<h1 class="mb-0">{frontmatter.title}</h1>
	<p class="italic">{frontmatter.description}</p>
	<p>
		{
			new Date(frontmatter.date).toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})
		}
	</p>
	<p>
		<Author author={frontmatter.author} />
	</p>
	<hr class="my-3" />
	<Headings headings={headings} />
	<hr class="mt-3" />
	<slot />
	<ShareButton url={`https://blog.robino.dev${url}`} client:visible />
	<blockquote class="flex flex-col justify-between gap-2 md:flex-row">
		<span>Find an error in this post? Any updates are appreciated.</span>
		<a
			href={`https://github.com/rossrobino/blog/blob/main/src/pages${url}.mdx`}
		>
			Edit this post
		</a>
	</blockquote>
</Layout>
