---
import Layout from "@layouts/Layout.astro";
import Author from "./Author.svelte";
import Headings from "./Headings.svelte";

const { frontmatter, headings } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<h1>{frontmatter.title}</h1>
	<p>
		{
			new Date(frontmatter.date).toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})
		}
	</p>
	<p>
		<Author author={frontmatter.author} />
	</p>
	<hr class="my-3" />
	<Headings headings={headings} />
	<hr class="mt-3" />
	<slot />
</Layout>
